body{
	background-color: hsl(0, 0%, 98%);
}


#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}


.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}




header{
	height: 60px;
	box-shadow: 0 0 6px rgb(221, 221, 221);
	background-color: rgb(255, 255, 255);
	
}
#navigation{

	margin-top: 0.5rem;
	list-style: none;
}
#profile{
	display: flex;
	margin-top: 0.5rem;
	list-style: none;
}


#product-img{
	height: 150px;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 22%);
}



@media screen and (max-width:550px)	{
	#featured-product{
		width:8.5rem !important;
	}	
	#product-img{
		height: 80px;
	}
	#featured-container{
		width:100% !important;
	}
	#container{
		width: 100%;
	}
	#categories{
		height: 90px !important ;
		width: 90px !important ;
	}
	#carousel-image{
		height: 300px !important;
	}

}

