{% extends 'shop/main.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}


<style>

    @media screen and (max-width:575px) {
        #product-title{
            font-size: 1rem !important;
        }
        #product-price{
            font-size: 0.85rem !important;
            font-weight: 500 !important;
            margin: 5px !important;
        }
        #title-wrapper{
            height: 2.2rem;
        }
        #product-card{
            height: 130px;
        }
    }

</style>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      

        {% for i in ads %}
        {%  if forloop.first %}
        <div class="carousel-item active">
            {%  else %}
            
            <div class="carousel-item">
            {% endif  %}

            <img style="height: 400px;"  src="{{i.image.url}}" class="d-block w-100" alt="...">
            </div>

        {% endfor %}
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
 
</div>


<br>


<div  class="container-fluid" style="width: 95%;">
        <a class="btn btn-outline-success btn-sm" style="display: inline-flex;float:right;margin-bottom: 15px;" href="#">  view all  </a>
        <h5 style="margin-bottom: 15px;"> <strong>  Featured Products </strong> </h5>

<div style="width: 100%;overflow-x: scroll;" class="row d-block d-lg-none">
    <div class="d-flex">
        {%  for product in products %}
        <div style="border-radius: 0px;margin-bottom: 15px;margin-left:0px !important;margin-right:0px !important;"  class="col">
            <div id="featured-product" style="border-radius: 0px;width: 17rem;" class="card">

            <img id="product-img"  style="border-radius: 0px" class = "img-fluid" src = "{{ product.imageURL }}">
                
            <div style="background-color: #ffffffbf" id="product-cars" class="card-body">
                <hr style="margin: 5px;">
                <div   id="title-wrapper">
                    <h5 id="product-title"   style="color:#2c2c2c"><strong> {{product.name}} </strong></h5>
                </div>
                <p class="d-none d-md-block" style="color:#838383;font-size:0.95rem">Lorem ipsum dolor sit amet consectetur adipisicing...</p>




                <div class="d-none d-sm-block">
                    <div class="row">
                        <div class="col-7 col-sm-8">
                            <p id="product-price"  style = "font-size: 1.2rem;font-weight: 600;color:#444444">R{{product.price|floatformat:2}}</p>
                        </div>
                        <div class="col-5 col-sm-4">
                            {% if user.is_authenticated %}
                            <button style="width: 70px;background-color: #fffaf5;border: 1.2px #fa920a solid"  data-product ={{product.id}} data-action="add" class ="btn btn-outline-secondary  update-cart btn-sm rounded-pill  ">
                                <h6 style="font-weight: 600;font-size: 1.2rem;margin: 0px;color: #fa920a;">
                                +   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                  </svg>
                                </h6>
                            </button>
                            {% else %}
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class ="btn btn-outline-secondary add-btn"> 
                                +   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                  </svg>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="d-block  d-sm-none">

                    <div class="row">
                        <div class="col">
                            <p id="product-price" style = "font-size: 1rem;font-weight: 600;color:#444444">R{{product.price|floatformat:2}}</p>
                        </div>
                    
                    </div>
                    <div class="row">
                        
                            {% if user.is_authenticated %}
                            <button style="width: 100%;background-color: #fffaf54d;border: 1.2px #fa920a solid"  data-product ={{product.id}} data-action="add" class ="btn btn-outline-secondary add-btn update-cart btn-sm rounded-pill  ">
                                <h6 style="font-weight: 600;font-size: 1.2rem;margin: 0px;color: #fa920a;">
                                +   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                  </svg>
                                </h6>
                            </button>
                            {% else %}
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class ="btn btn-outline-secondary add-btn"> 
                                +   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                  </svg>
                            </button>
                            {% endif %}
                       
                    </div>

                </div>
            </div>

            </div>
        </div>  &nbsp;&nbsp;&nbsp;
        {% endfor %}
    </div>
</div>


<div class="d-none d-lg-block">
    <div  class="row ">
        {%  for product in products %}
        {% if forloop.counter <= 4 %}
        <div style="border-radius: 0px;"  class="col-3">
            <div  style="border-radius: 0px;" class="card">

                <img class = "img-fluid" src = "{{ product.imageURL }}">
                    
                <div style="background-color: #ffffffbf" class="card-body">
                    <hr style="margin: 5px;">
                    <div   id="title-wrapper">
                        <h5 id="product-title"   style="color:#2c2c2c"><strong> {{product.name}} </strong></h5>
                    </div>
                    <p class="d-none d-md-block" style="color:#838383;font-size:0.95rem">Lorem ipsum dolor sit amet consectetur adipisicing...</p>


                    <div class="d-none d-sm-block">
                        <div class="row">
                            <div class="col-7 col-sm-8">
                                <p id="product-price"  style = "font-size: 1.2rem;font-weight: 600;color:#444444">R{{product.price|floatformat:2}}</p>
                            </div>
                            <div class="col-5 col-sm-4">
                                {% if user.is_authenticated %}
                                <button style="width: 70px;background-color: #fffaf5;border: 1.2px #fa920a solid"  data-product ={{product.id}} data-action="add" class ="btn btn-outline-secondary  update-cart btn-sm rounded-pill  ">
                                    <h6 style="font-weight: 600;font-size: 1.2rem;margin: 0px;color: #fa920a;">
                                    +   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                    </h6>
                                </button>
                                {% else %}
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" class ="btn btn-outline-secondary add-btn"> 
                                    +   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="d-block  d-sm-none">

                        <div class="row">
                            <div class="col">
                                <p id="product-price" style = "font-size: 1rem;font-weight: 600;color:#444444">R{{product.price|floatformat:2}}</p>
                            </div>
                        
                        </div>
                        <div class="row">
                            
                                {% if user.is_authenticated %}
                                <button style="width: 100%;background-color: #fffaf54d;border: 1.2px #fa920a solid"  data-product ={{product.id}} data-action="add" class ="btn btn-outline-secondary add-btn update-cart btn-sm rounded-pill  ">
                                    <h6 style="font-weight: 600;font-size: 1.2rem;margin: 0px;color: #fa920a;">
                                    +   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                    </h6>
                                </button>
                                {% else %}
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" class ="btn btn-outline-secondary add-btn"> 
                                    +   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                </button>
                                {% endif %}
                        
                        </div>

                    </div>
                </div>

            </div>
        </div>  
        {% endif %}
        {% endfor %}
    </div>
</div>


<!--  ***************************************************************** CATEGORIES *******************************************************************  -->

<br>





<div class="container-fluid" style="width: 95%;">     

        {% for i in categories %}
        <div style="margin-top: 1.5rem;">
            <a class="btn btn-success btn-sm" style="display: inline-flex;float:right;margin-bottom: 15px;" href="{% url 'shop:viewCategory' i.id %}">  view all  </a>
            <h4 style="margin-bottom: 15px;"> <strong>  {{i.category_name|title}} </strong> </h4>
        </div>



        <div class="d-none d-lg-block">
            <div  class="row ">
                {%  for product in i.product_set.all %}
                {% if forloop.counter <= 4 %}
                <div style="border-radius: 0px;"  class="col-3">
                    <div  style="border-radius: 0px;" class="card">
        
                        <img id="product-img" class = "img-fluid" src = "{{ product.imageURL }}">
                            
                        <div style="background-color: #ffffffbf" class="card-body">
                            <hr style="margin: 5px;">
                            <div   id="title-wrapper">
                                <h5 id="product-title"   style="color:#2c2c2c"><strong> {{product.name}} </strong></h5>
                            </div>
                            <p class="d-none d-md-block" style="color:#838383;font-size:0.95rem">Lorem ipsum dolor sit amet consectetur adipisicing...</p>
        
        
                            <div class="d-none d-sm-block">
                                <div class="row">
                                    <div class="col-7 col-sm-8">
                                        <p id="product-price"  style = "font-size: 1.2rem;font-weight: 600;color:#444444">R{{product.price|floatformat:2}}</p>
                                    </div>
                                    <div class="col-5 col-sm-4">
                                        {% if user.is_authenticated %}
                                        <button style="width: 70px;background-color: #fffaf5;border: 1.2px #fa920a solid"  data-product ={{product.id}} data-action="add" class ="btn btn-outline-secondary  update-cart btn-sm rounded-pill  ">
                                            <h6 style="font-weight: 600;font-size: 1.2rem;margin: 0px;color: #fa920a;">
                                            +   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </svg>
                                            </h6>
                                        </button>
                                        {% else %}
                                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class ="btn btn-outline-secondary add-btn"> 
                                            +   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </svg>
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
        
                            <div class="d-block  d-sm-none">
        
                                <div class="row">
                                    <div class="col">
                                        <p id="product-price" style = "font-size: 1rem;font-weight: 600;color:#444444">R{{product.price|floatformat:2}}</p>
                                    </div>
                                
                                </div>
                                <div class="row">
                                    
                                        {% if user.is_authenticated %}
                                        <button style="width: 100%;background-color: #fffaf54d;border: 1.2px #fa920a solid"  data-product ={{product.id}} data-action="add" class ="btn btn-outline-secondary add-btn update-cart btn-sm rounded-pill  ">
                                            <h6 style="font-weight: 600;font-size: 1.2rem;margin: 0px;color: #fa920a;">
                                            +   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </svg>
                                            </h6>
                                        </button>
                                        {% else %}
                                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class ="btn btn-outline-secondary add-btn"> 
                                            +   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </svg>
                                        </button>
                                        {% endif %}
                                
                                </div>
        
                            </div>
                        </div>
        
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>  


</div>
   








            <div style="width: 100%;overflow-x: scroll;" class="d-block d-lg-none">
                <div class="d-flex">
                    {%  for product in i.product_set.all %}
                    <div style="border-radius: 0px;margin-bottom: 15px;margin-left:0px !important;margin-right:0px !important;"  class="">
                        <div id="featured-product" style="border-radius: 0px;width: 17rem;" class="card">
            
                        <img id="product-img"  style="border-radius: 0px" class = "img-fluid" src = "{{ product.imageURL }}">
                            
                        <div style="background-color: #ffffffbf" id="product-cars" class="card-body">
                            <hr style="margin: 5px;">
                            <div   id="title-wrapper">
                                <h5 id="product-title"   style="color:#2c2c2c"><strong> {{product.name}} </strong></h5>
                            </div>
                            <p class="d-none d-md-block" style="color:#838383;font-size:0.95rem">Lorem ipsum dolor sit amet consectetur adipisicing...</p>
            
            
            
            
                            <div class="d-none d-sm-block">
                                <div class="row">
                                    <div class="col-7 col-sm-8">
                                        <p id="product-price"  style = "font-size: 1.2rem;font-weight: 600;color:#444444">R{{product.price|floatformat:2}}</p>
                                    </div>
                                    <div class="col-5 col-sm-4">
                                        {% if user.is_authenticated %}
                                        <button style="width: 70px;background-color: #fffaf5;border: 1.2px #fa920a solid"  data-product ={{product.id}} data-action="add" class ="btn btn-outline-secondary  update-cart btn-sm rounded-pill  ">
                                            <h6 style="font-weight: 600;font-size: 1.2rem;margin: 0px;color: #fa920a;">
                                            +   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                              </svg>
                                            </h6>
                                        </button>
                                        {% else %}
                                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class ="btn btn-outline-secondary add-btn"> 
                                            +   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                              </svg>
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
            
                            <div class="d-block  d-sm-none">
            
                                <div class="row">
                                    <div class="col">
                                        <p id="product-price" style = "font-size: 1rem;font-weight: 600;color:#444444">R{{product.price|floatformat:2}}</p>
                                    </div>
                                
                                </div>
                                <div class="row">
                                    
                                        {% if user.is_authenticated %}
                                        <button style="width: 100%;background-color: #fffaf54d;border: 1.2px #fa920a solid"  data-product ={{product.id}} data-action="add" class ="btn btn-outline-secondary add-btn update-cart btn-sm rounded-pill  ">
                                            <h6 style="font-weight: 600;font-size: 1.2rem;margin: 0px;color: #fa920a;">
                                            +   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                              </svg>
                                            </h6>
                                        </button>
                                        {% else %}
                                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class ="btn btn-outline-secondary add-btn"> 
                                            +   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                              </svg>
                                        </button>
                                        {% endif %}
                                   
                                </div>
            
                            </div>
                        </div>
            
                        </div>
                    </div>  &nbsp;&nbsp;
                    {% endfor %}
                </div>
            </div>
            
            


     
        
        {% endfor  %}

</div>





















<!-- Model -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login Or Sign-up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Please Login or create an account to start shopping with us !!
        </div><center> 
        <div class="modal-footer" style="background-color: #1c5883;">
        <a href="{% url 'customers:register' %}" class="btn btn-warning btn-sm">Sign Up</a> <a href="{% url 'customers:login' %}" class="btn btn-outline-warning btn-sm">Sign in</a>      
        </div></center>
    </div>
    </div>
</div>










{% endblock content %}